local serviceDeployment = import "../../service-deployment-ingress.jsonnet.template";

local err2() = serviceDeployment + {
    serviceName:: "samplespringbootapp",
    servicePort:: 9999
};

// Export the function as a constructor for shards
{
  err2:: err2,
}