version: 2
jobs:
  test:
    docker:
      - image: circleci/golang:1.12

    environment: # environment variables for the build itself
      TEST_RESULTS: /tmp/test-results # path to where test results will be saved
    steps:
      - checkout
      - run: go get github.com/google/go-jsonnet/cmd/jsonnet
      - run: git submodule update --init --recursive
      - run: ./test.sh


workflows:
  version: 2
  build_and_test:
    jobs:
      - test